.cg-preview-body{
    overflow:auto;
    height:40em;
    max-height:45em;
   	padding: 1em;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
    min-width: 64px;
    width: 64px;
    height: 20px;
    min-height: 20px;
}