//-
	@version 1.0.0 - April 28th, 2017
	@author Jacob Brooker

extends tpl/master_template

block appendHead
	script(src='js/qa_viewer_util.js')
	script(src='js/component_viewer_client.js')
	script(src='js/jquery/jquery-ui-test/jquery-ui-1.10.4.custom.min.js')
	link(rel='stylesheet', href='css/autocomplete.css')
	link(rel='stylesheet', href='css/qa_component_viewer.css')

block content
	br
	br
	br
	br
	#topPanel.panel.panel-primary.sideMargins