//-
	v2.0.0
	This file represents a standard footer to be used for support information on
	many pages of a website. It uses multiple Bootstrap 3.1.1 constructs for
	navbar elements, and includes responsive design support for various
	display sizes.

#footer.footer
	.navbar.navbar-default
		.container
			.row
				.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-4
					a(href="http://www.cleargoals.com/").pull-left
						#mini_logo
					p.navbar-text.pull-left.hidden-xs
						| 
					p.navbar-text.pull-left.visible-xs
						| 
